---
title: Welcome to Middleman
---

<div class="container app-body">
  <div class="row">
    <div class="col-lg-12 text-center">
      <h1>YouTube to Spotify Playlist Converter</h1>
      <br>
      <button id="copy-button" class="hider btn btn-lg btn-success copy-btn" data-clipboard-target="clipboard-text">
        <span><i class="fa fa-scissors"></i> Copy to Clipboard</span>
      </button>
    </div>
    <div class="col-lg-12 text-right">
      <h2>YouTube Playlist URL</h2>
      <div class="input-group">
        <input type="text" id="id" class="form-control input-lg" placeholder="Example: https://www.youtube.com/playlist?list=PLsBWlr67U5NuBMEj_p7n5WT-VeZ9VhmIz" />
        <span class="input-group-btn">
          <button type="submit" id="submit" class="btn btn-success btn-lg">
            <span><i class="fa fa-refresh"></i> Convert</span>
          </button>
        </span>
      </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 text-center">
      <h2>Failed <span id="failed-count" class="count"></span></h2>
      <div id="failed" class="text-left"></div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 text-center">
      <h2>Success <span id="success-count" class="count"></span></h2>
      <div id="success" class="text-left"></div>
    </div>
    <div class="list">
      <h2>Matches <span id="match-count" class="count"></span></h2>
      <textarea id="content" name="clipboard-text"></textarea>
    </div>
  </div>
</div>
<div class="background"></div>