---
title: Welcome to Middleman
---

<div class="container app-body">
  <div class="row">
    <div class="col-lg-4">
    </div>
    <div class="col-lg-8 text-right">
      <h1>YouTube Playlist URL</h1>
      <div class="input-group">
        <input type="text" id="id" class="form-control input-lg" placeholder="Example: https://www.youtube.com/playlist?list=PLsBWlr67U5NuBMEj_p7n5WT-VeZ9VhmIz" />
        <span class="input-group-btn">
          <button type="submit" id="submit" class="btn btn-success btn-lg">
            <span><i class="fa fa-refresh"></i> Convert</span>
          </button>
        </span>
      </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 text-center">
      <h1>Failed <span id="failed-count" class="count"></span></h1>
      <textarea id="failed"></textarea>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 text-center">
      <h1>Success <span id="success-count" class="count"></span></h1>
      <textarea id="success"></textarea>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 text-center">
      <h1>Matches <span id="match-count" class="count"></span></h1>
      <textarea id="content" name="clipboard-text"></textarea>
      <button id="copy-button" class="btn btn-lg btn-success copy-btn" data-clipboard-target="clipboard-text"><span><i class="fa fa-scissors"></i>
 Copy</span></button>
    </div>
  </div>
</div>
<div class="background"></div>
